@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    var(--scroll-track-color) 0%,
    var(--scroll-track-color) 30%,
    var(--scroll-color) 60%,
    var(--body-bg-color) 61%,
    var(--body-bg-color) 100%
  );
}

*::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}
.trend::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 4px;
}
